{% extends "base.html" %}
{% block main_offer %}

</br>
<a class="btn btn-success" href="{% url 'publisher-create' %}" role="button">Добавить издательство</a>
<font color="green"><hr class="featurette-divider"></font>

<table class="table">
    <tbody>
    {% for publisher in object_list %}
      <tr>
        <td><a href="{% url 'publisher-detail' publisher.pk %}"><font color="black">{{ publisher.name }}</font></a></td>
        <td><font color="black">{{ publisher.description }}</font></td>
        <td><a class="nav-link active" aria-current="page" href="{% url 'publisher-update' publisher.pk %}"><font color="green"><i class="far fa-edit"></i></font></a></td>
        <td><a class="nav-link active" aria-current="page" href="{% url 'publisher-delete' publisher.pk %}"><font color="green"><i class="far fa-trash-alt"></i></font></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<font color="green"><hr class="featurette-divider"></font>
<a class="btn btn-success" href="{% url 'publisher-create' %}" role="button">Добавить издательство</a>

{% endblock main_offer %}